<link rel="import" href="../bower_components/polymer/polymer-element.html">


<dom-module id="code-highlight-styles">
    <template>
        <style>
         :host {
             color: black;
	     text-shadow: 0 1px white;
	     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	     text-align: left;
	     white-space: pre;
	     word-spacing: normal;
	     word-break: normal;
	     word-wrap: normal;
	     line-height: 1.5;

	     -moz-tab-size: 4;
	     -o-tab-size: 4;
	     tab-size: 4;

	     -webkit-hyphens: none;
	     -moz-hyphens: none;
	     -ms-hyphens: none;
	     hyphens: none;

             padding: 0.5em;
             margin: 0.5em 0;
             overflow: auto;
         }

         .token.comment, .token.prolog, .token.doctype, .token.cdata {
	     color: slategray;
         }

         .token.punctuation {
	     color: #999;
         }

         .namespace {
	     opacity: .7;
         }

         .token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
	     color: #905;
         }

         .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
	     color: #690;
         }

         .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
	     color: #a67f59;
	     background: hsla(0, 0%, 100%, .5);
         }

         .token.atrule, .token.attr-value, .token.keyword {
	     color: #07a;
         }

         .token.function {
	     color: #DD4A68;
         }

         .token.regex, .token.important, .token.variable {
	     color: #e90;
         }

         .token.important, .token.bold {
	     font-weight: bold;
         }
         .token.italic {
	     font-style: italic;
         }

         .token.entity {
	     cursor: help;
         }
        </style>
    </template>
</dom-module>
