<link rel="import" href="../bower_components/polymer/polymer-element.html">

<script src="../bower_components/prism/prism.js"></script>

<link rel="import" href="code-highlight-styles.html">

<dom-module id="code-highlight">
    <template>
        <style include="code-highlight-styles">
	 :host {
	     display: block;
	 }
	</style>
        <content id="content"></content>
    </template>

    <script>
     (function() {
         var ownerDocument = document.currentScript.ownerDocument;

         var languages = [
             'python', 'javascript', 'bash',
             'c', 'cpp', 'css', 'docker', 'http',
             'java', 'json', 'jsx', 'julia', 'latex',
             'markdown', 'matlab', 'nginx', 'php', 'protobuf',
             'r', 'sql', 'yaml'
         ];

         var loadLanguage = function(language, callback) {
             if (languages.indexOf(language) > -1) {
                 var script = document.createElement('script')
                 script.src = `../bower_components/prism/components/prism-${language}.js`
                 script.onload = callback;
                 ownerDocument.body.appendChild(script);
             } else {
                 console.warn(`language ${language} not available`)
             }
         };

         class CodeHighlight extends Polymer.Element {
             static get is() { return 'code-highlight' };

             static get properties() {
                 return {
                     code: {
                         type: String,
                         value: "",
                     },
                     language: {
                         type: String,
                         value: "",
                     }
                 }
             }

             static get observers() {
                 return [
                     'renderCode(code, language)'
                 ]
             }

             renderCode(code, language) {
                 if (!Prism.languages.hasOwnProperty(language)) {
                     loadLanguage(language, () => {
                         Polymer.dom(this.$.content).innerHTML = Prism.highlight(code, Prism.languages[language]);
                     });
                 } else {
                     Polymer.dom(this.$.content).innerHTML = Prism.highlight(code, Prism.languages[language]);
                 }
             }
         }

         window.customElements.define(CodeHighlight.is, CodeHighlight);
     })()
    </script>
</dom-module>
