<link rel="import" href="../bower_components/polymer/polymer-element.html">

<script src="../bower_components/markdown-it/dist/markdown-it.js"></script>
<script src="../bower_components/markdown-it-math/dist/markdown-it-math.js"></script>

<link rel="import" href="math-tex.html">
<link rel="import" href="code-highlight.html">
<link rel="import" href="shared-styles.html">

<dom-module id="markdown-it">
    <template>
        <style include="shared-styles"></style>
        <slot id="content"></slot>
    </template>

    <script>
     (function() {
         var md = new markdownit({
             html: false,
             breaks: false,
             linkify: false,
             highlight: function(code, language) {
                 return  `<code-highlight language="${language}" code="${code.replace(/"/g, '&quot;')}"></code-highlight>`
             }
         });

         md.use(markdownitMath, {
             inlineOpen: '\\(',
             inlineClose: '\\)',
             blockOpen: '\\[',
             blockClose: '\\]',
             renderingOptions: {},
             inlineRenderer: function(texString) {
                 return `<math-tex formula="${texString}"></math-tex>`
             },
             blockRenderer: function(texString) {
                 return `<math-tex formula="${texString}" display></math-tex>`
             },
         });

         class MarkdownIt extends Polymer.Element {
             static get is() { return 'markdown-it' }

             static get properties() {
                 return {
                     src: {
                         type: String,
                         observer: 'readMarkdownURL'
                     },
                     content: {
                         type: String,
                         observer: 'renderContent'
                     }
                 }
             }

	     stripFrontMatter(text) {
		 if (text[0] === "{" && text.indexOf("}\n\n") !== -1) {
		     return text.substring(text.indexOf("}\n\n")+2);
		 }
	         return text;
	     }

             readMarkdownURL(url) {
                 fetch(url).then((response) => {
                     if (!response.ok) {
                         throw Error(response.statusText);
                     }
                     return response.text();
                 }).then((text) => {
		     let strippedText = this.stripFrontMatter(text)
                     this.dispatchEvent(new CustomEvent('post-loaded', {composed: true}));
                     this.renderContent(strippedText);
                     this.dispatchEvent(new CustomEvent('post-ready', {composed: true}));
                 }).catch((error) => {
                     this.dispatchEvent(new CustomEvent('post-not-found', {composed: true}));
                 })
             }

             renderContent(contentString) {
                 Polymer.dom(this.$.content).innerHTML = md.render(contentString);
             }
         }

         window.customElements.define(MarkdownIt.is, MarkdownIt);
     })()
    </script>
</dom-module>
