<link rel="import" href="../bower_components/polymer/polymer-element.html">

<script src="../bower_components/KaTeX/dist/katex.min.js"></script>

<dom-module id="math-tex">
    <template>
        <link rel="stylesheet" href="../bower_components/KaTeX/dist/katex.min.css"/>
        <slot id="content"></slot>
    </template>

    <script>
     class MathTex extends Polymer.Element {
         static get is() { return 'math-tex'; }

         static get properties() {
             return {
                 formula: {
                     type: String,
                     value: ""
                 },
                 display: {
                     type: Boolean,
                     value: false
                 }
             }
         }

         static get observers() {
             return [
                 '_renderFormula(formula, display)'
             ]
         }

         _renderFormula(formula, display) {
             if (formula) {
                 katex.render(formula, Polymer.dom(this.$.content), {displayMode: display});
             }
         }
     }

     window.customElements.define(MathTex.is, MathTex);
    </script>
</dom-module>
