<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="markdown-it.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-app">
    <template>
        <style include="shared-styles">
         :host {
             --app-text-color: rgba(0, 0, 0, 0.7);
             --app-primary-color: var(--paper-grey-600);
             --app-accent-color: var(--paper-blue-grey-600);
             --app-soft-background-color: var(--paper-grey-100);
             --app-font-size: 21px;

             --app-heading-font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
             --app-text-font: Georgia, Cambria, serif;
             --app-monospace-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
         }

         @media (max-width: 768px) {
             :host {
                 --app-font-size: 18px;
             }
         }

         app-drawer {
             z-index: 100;
         }

         app-toolbar, app-toolbar {
             display: flex;
             background-color: var(--app-soft-background-color);
         }

         #navbar paper-tabs {
             height: 100%;
             --paper-tabs-selection-bar-color: var(--app-primary-color);
         }

         #navbar paper-tab {
             --paper-tab-ink: var(--app-accent-color);
         }

         #navbar a {
             padding: 0 12px;
         }

         #navbar a, #drawer a {
             color: var(--app-primary-color);
             text-decoration: none;
         }

         #navbar paper-icon-button {
             color: var(--app-primary-color);
         }

         .profile {
             height: 75%;
             border-radius: 100%;
         }

         .container {
             max-width: 760px;
             padding: 0 20px;
             margin: 20px auto;
         }

         .right {
             text-align: right;
         }

	 .cta {
	     width: 80%;
	     margin: auto;
	     padding: 5px;
	     border-radius: 5px;

	     display: flex;
	     flex-direction: row;
	     justify-content: space-between;

	     background-color: var(--app-soft-background-color);
	 }

	 .cta a {
	     color: var(--app-primary-color);
	 }

	 .cta .accent {
	     background-color: var(--app-accent-color);
	     color: var(--app-soft-background-color);
	     font-size: 1.3em;
	     text-align: center;
	     vertical-align: middle;
	     text-decoration: none;
	     padding: 5px 25px;
	     border-radius: 5px;
	 }
        </style>

        <app-location route="{{route}}"></app-location>
        <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}"></app-route>

        <iron-media-query id="mq-phone" full
                          query="(min-width:320px) and (max-width:768px)"
                          query-matches="{{isPhoneSize}}"></iron-media-query>

        <app-drawer id="drawer">
            <app-toolbar justify="center">
                <div class="top">
                    <a href="mailto:chris.ostrouchov@gmail.com" target="_blank">
                        <paper-icon-button icon="my:email"></paper-icon-button>
                    </a>
                    <a href="https://github.com/costrouc/resume/raw/master/chrisostrouchov.pdf" target="_blank">
                        <paper-icon-button icon="my:resume"></paper-icon-button>
                    </a>
                    <a href="https://github.com/costrouc" target="_blank">
                        <paper-icon-button icon="my:github"></paper-icon-button>
                    </a>
                    <a href="https://www.linkedin.com/in/chrisostrouchov" target="_blank">
                        <paper-icon-button icon="my:linkedin"></paper-icon-button>
                    </a>
                    <a href="http://stackoverflow.com/users/1513174/costrouc" target="_blank">
                        <paper-icon-button icon="my:stackoverflow"></paper-icon-button>
                    </a>
                </div>
            </app-toolbar>
            <iron-selector selected="{{selectedPage}}"
                           attr-for-selected="name"
                           on-iron-activate="closeDrawer"
                           activate-event="click">
                <a href="/home" name="home" tabindex="-1">
                    <paper-item>Home</paper-item>
                </a>
                <a href="/research" name="research" tabindex="-1">
                    <paper-item>Research</paper-item>
                </a>
                <a href="/software" name="software" tabindex="-1">
                    <paper-item>Software</paper-item>
                </a>
                <a href="/blog/" name="blog" tabindex="-1">
                    <paper-item>Blog</paper-item>
                </a>
            </iron-selector>
        </app-drawer>

        <app-header-layout>
            <app-header condenses reveals effects="waterfall">
                <app-toolbar id="navbar" role="navigation">
                    <template is="dom-if" if="[[isPhoneSize]]">
                        <paper-icon-button icon="my:menu"
                                           on-click="toggleDrawer"></paper-icon-button>
                        <a href="/home" class="flex right">
                            Christopher Ostrouchov
                        </a>
                        <img class="profile" src="/images/chris-xsmall.jpg"/>
                    </template>
                    <template is="dom-if" if="[[!isPhoneSize]]">
                        <img class="profile" src="/images/chris-xsmall.jpg"/>
                        <a href="/home" class="flex">
                            Christopher Ostrouchov
                        </a>
                        <paper-tabs attr-for-selected="name"
                                    selected="{{selectedPage}}"
                                    tabindex="-1">
                            <paper-tab name="home" tabindex="-1">
                                <a href="/home" class="layout horizontal center">Home</a>
                            </paper-tab>
                            <paper-tab name="research" tabindex="-1">
                                <a href="/research" class="layout horizontal center">Research</a>
                            </paper-tab>
                            <paper-tab name="software" tabindex="-1">
                                <a href="/software" class="layout horizontal center">Software</a>
                            </paper-tab>
                            <paper-tab name="blog" tabindex="-1">
                                <a href="/blog/" class="layout horizontal center">Blog</a>
                            </paper-tab>
                        </paper-tabs>
                    </template>
                </app-toolbar>
            </app-header>

            <iron-pages
                selected="[[selectedPage]]"
                attr-for-selected="name"
                fallback-selection="404"
                role="main">
                <div name="home" class="container">
		    <div class="cta">
			<a class="accent" href="/blog/">Blog</a>
			<a href="mailto:chris.ostrouchov@gmail.com" target="_blank">
                            <paper-icon-button icon="my:email"></paper-icon-button>
			</a>
			<a href="https://github.com/costrouc/resume/raw/master/chrisostrouchov.pdf" target="_blank">
                            <paper-icon-button icon="my:resume"></paper-icon-button>
			</a>
			<a href="https://github.com/costrouc" target="_blank">
                            <paper-icon-button icon="my:github"></paper-icon-button>
			</a>
			<a href="https://www.linkedin.com/in/chrisostrouchov" target="_blank">
                            <paper-icon-button icon="my:linkedin"></paper-icon-button>
			</a>
			<a href="http://stackoverflow.com/users/1513174/costrouc" target="_blank">
                            <paper-icon-button icon="my:stackoverflow"></paper-icon-button>
			</a>
		    </div>
                    <markdown-it src="/pages/home.md"></markdown-it>
                </div>
                <div name="research" class="container">
                    <markdown-it src="/pages/research.md"></markdown-it>
                </div>
                <div name="software" class="container">
                    <markdown-it src="/pages/software.md"></markdown-it>
                </div>
                <my-view-blog name="blog" class="container" route="{{subroute}}"></my-view-blog>
                <my-view-404 name="404" class="container"></my-view-404>
            </iron-pages>
        </app-header-layout>
    </template>

    <script>
     class MyApp extends Polymer.Element {
         static get is() { return 'my-app' }

         static get properties() {
             return {
                 selectedPage: {
                     type: String,
                     reflectToAttribute: true,
                     observer: '_pageChanged',
                 }
             }
         }

         static get observers() {
             return [
                 '_isPhoneChanged(isPhoneSize)',
                 '_routePageChanged(routeData.page)'
             ];
         }

         toggleDrawer(event) {
             this.$.drawer.toggle();
         }

         closeDrawer(event) {
             this.$.drawer.close();
         }

         _isPhoneChanged(isPhoneSize) {
             this.updateStyles();
         }

         _routePageChanged(page) {
             this.selectedPage = page || 'home';
         }

         _pageChanged(page) {
             if (['home', 'research', 'software'].indexOf(page) === -1) {
                 var resolvedPageUrl = this.resolveUrl('my-view-' + page + '.html');
                 Polymer.importHref(resolvedPageUrl, null, this._showPage404.bind(this), true);
             }
             this.dispatchEvent(new CustomEvent('page-change', {detail: page, composed: true, bubbles: true}));
         }

         _showPage404() {
             this.page = '404';
         }
     }

     window.customElements.define(MyApp.is, MyApp);
    </script>
</dom-module>
