<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="my" size="16">
    <svg>
        <defs>
            <g id="linkedin">
                <path d="M13.632 13.635h-2.37V9.922c0-.886-.018-2.025-1.234-2.025-1.235 0-1.424.964-1.424 1.96v3.778h-2.37V6H8.51V7.04h.03c.318-.6 1.092-1.233 2.247-1.233 2.4 0 2.845 1.58 2.845 3.637v4.188zM3.558 4.955c-.762 0-1.376-.617-1.376-1.377 0-.758.614-1.375 1.376-1.375.76 0 1.376.617 1.376 1.375 0 .76-.617 1.377-1.376 1.377zm1.188 8.68H2.37V6h2.376v7.635zM14.816 0H1.18C.528 0 0 .516 0 1.153v13.694C0 15.484.528 16 1.18 16h13.635c.652 0 1.185-.516 1.185-1.153V1.153C16 .516 15.467 0 14.815 0z" fill-rule="nonzero"/>
            </g>
            <g id="github">
                <path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8"/>
            </g>
            <g id="stackoverflow">
                <path d="M12.658 14.577v-4.27h1.423V16H1.23v-5.693H2.65v4.27h10.006zm-8.583-1.423h7.16V11.73h-7.16v1.424zm.173-3.235l6.987 1.465.3-1.38L4.55 8.54l-.302 1.38zm.906-3.365l6.47 3.02.602-1.295-6.47-3.02-.602 1.295zm1.81-3.19l5.478 4.57.906-1.078-5.477-4.57-.905 1.077zM10.502 0L9.338.863l4.27 5.735 1.164-.862L10.5 0z"/>
            </g>
            <g id="twitter">
                <path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" fill-rule="nonzero"/>
            </g>
            <g id="resume">
                <path d="m5.14 0.03669c-0.1124 0.053099-0.1374 0.16245-0.1374 0.57176v0.3907h-1.3904c-0.94988 0-1.4122 0.009001-1.4622 0.0343-0.0438 0.0188-0.093699 0.0687-0.11249 0.11249-0.049999 0.10629-0.049999 14.598 0 14.704 0.0188 0.04379 0.0687 0.0937 0.11249 0.11249 0.10629 0.05001 11.598 0.05001 11.705 0 0.04379-0.0188 0.0937-0.0687 0.11249-0.11249 0.025-0.0531 0.0343-2.0841 0.0343-7.352s-0.009-7.299-0.0343-7.352c-0.0188-0.0438-0.0687-0.093699-0.11249-0.11249-0.05-0.025-0.51233-0.0343-1.4622-0.0343h-1.3904v-0.39054c0-0.41861-0.025-0.5187-0.14678-0.57486-0.10335-0.047-5.6181-0.0439-5.7151 0.0030003zm5.3618 1.4624v0.99984h-2.4996-2.4996v-0.99984-0.99985h2.4996 2.4996v0.99985zm-5.4994 0.6405c0 0.67805 0.0157 0.76556 0.14694 0.82482 0.0531 0.025 0.88425 0.0344 2.8527 0.0344 1.9685 0 2.7997-0.009 2.8528-0.0344 0.13126-0.0594 0.14677-0.14677 0.14677-0.82482v-0.64049h1.2498 1.2498v6.9989 6.9991h-5.4991-5.4993v-6.9991-6.9991h1.2498 1.2498v0.64066z"/>
                <path d="m6.0024 1.3897c0 0.41861 0.025 0.5187 0.14694 0.57486 0.0531 0.025 0.61552 0.0344 1.8529 0.0344s1.7997-0.009 1.8529-0.0344c0.1218-0.0562 0.14694-0.15625 0.14694-0.57486v-0.39053h-0.24996-0.24996v0.24996 0.24996h-1.4999-1.4998v-0.24996-0.24996h-0.24996-0.24996v0.39053z"/>
                <path d="m3.6403 2.0364c-0.0376 0.0157-0.0844 0.0656-0.10303 0.10628-0.049899 0.10939-0.049899 12.101 0 12.208 0.0188 0.0438 0.0687 0.0937 0.1125 0.1125 0.10628 0.0499 8.5987 0.0499 8.705 0 0.04379-0.0188 0.0937-0.0687 0.11249-0.1125 0.05-0.10628 0.05-12.098 0-12.204-0.0563-0.1218-0.15624-0.14694-0.57486-0.14694h-0.39053v0.24996 0.24996h0.24996 0.24996v5.7492 5.7492h-3.9995-3.9995v-5.7492-5.7492h0.24996 0.24996v-0.24996-0.24996l-0.3969 0.003c-0.22172 0.0001599-0.43102 0.0157-0.46547 0.0344z"/>
                <path d="m7.5616 4.0455c-0.5656 0.1125-0.903 0.4781-1.0124 1.0999-0.10302 0.56555-0.0124 1.1342 0.24996 1.578 0.0749 0.12816 0.0937 0.18433 0.0687 0.2062-0.0219 0.0157-0.39364 0.23119-0.82482 0.47805l-0.79054 0.44686v0.3778c0 0.528 0.0718 0.76245 0.30613 1.0217 0.2281 0.2562 0.1032 0.2438 2.4435 0.2438 1.9435 0 2.0872-0.006 2.2028-0.059399 0.16245-0.0718 0.34368-0.27805 0.44686-0.49993 0.0749-0.15624 0.0844-0.21877 0.0937-0.62808l0.0126-0.45307-0.7946-0.4499c-0.4343-0.2469-0.8062-0.4624-0.828-0.4781-0.025-0.0219-0.006-0.078 0.0687-0.20621 0.4281-0.7249 0.3751-1.8653-0.1062-2.3466-0.3187-0.3185-0.9343-0.4496-1.5374-0.331zm1.0531 0.5625c0.16245 0.0813 0.1969 0.11559 0.27494 0.27494 0.0813 0.15934 0.0906 0.22188 0.10628 0.55314 0.025 0.58744-0.0782 0.97176-0.328 1.2498-0.21241 0.23739-0.34367 0.29682-0.66547 0.29682s-0.45307-0.0594-0.66548-0.29682c-0.25-0.2781-0.3532-0.6655-0.3282-1.2498 0.0126-0.3218 0.0281-0.39363 0.0999-0.54367 0.15004-0.30939 0.37812-0.40001 0.95919-0.38433 0.328 0.009 0.37796 0.0186 0.54678 0.0999zm-1.0938 2.7776c0.35315 0.14694 0.66548 0.13747 1.0467-0.0312l0.17812-0.0813 0.75298 0.43429 0.75299 0.43118v0.27184c0 0.29682-0.0594 0.50302-0.15935 0.55609-0.0749 0.040599-4.1057 0.040599-4.1806 0-0.0999-0.053099-0.15935-0.25927-0.15935-0.55609v-0.27184l0.74368-0.42808c0.40621-0.23739 0.76246-0.42188 0.78744-0.41552 0.025 0.006 0.13126 0.0469 0.23738 0.0906z"/>
                <path d="m5.2525 10.248v0.24996h2.7497 2.7496v-0.24996-0.24996h-2.7496-2.7497v0.24996z"/>
                <path d="m5.2525 11.248v0.24996h2.7497 2.7496v-0.24996-0.24996h-2.7496-2.7497v0.24996z"/>
                <path d="m5.2525 12.248v0.24996h1.4998 1.4998v-0.24996-0.24996h-1.4998-1.4998v0.24996z"/>
            </g>
	    <!-- convert polymer svg from 24x24 to 16x16 -->
            <g id="email" transform="matrix(.66667 0 0 .66667 0 0)">
		<path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
	    </g>
            <g id="menu" transform="matrix(.66667 0 0 .66667 0 0)">
		<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
	    </g>
	    <g id="arrow-back" transform="matrix(.66667 0 0 .66667 0 0)">
		<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
	    </g>
        </defs>
    </svg>
</iron-iconset-svg>
