<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="my-view-404">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px 20px;
      }
    </style>

    Oops you hit a 404. <a href="/home">Head back to home.</a>
  </template>

  <script>
   class MyView404 extends Polymer.Element {
       static get is() { return 'my-view-404'; }
   }

   window.customElements.define(MyView404.is, MyView404);
  </script>
</dom-module>
