<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="markdown-it.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-view-blog">
    <template>
        <style include="shared-styles">
         :host {
             display: block;
         }

         .post {
             background-color: var(--app-soft-background-color);
	     margin-top: 10px;
             padding: 10px;
	     border-radius: 5px;
             box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
         }

         .post h1 {
             color: var(--app-primary-color);
         }

	 img {
	     width: 100%;
	     max-height: 300px;
	 }

	 .banner {
	     display: flex;
	     flex-direction: row;
	     justify-content: flex-start;
	     align-items: center;
	 }

	 .banner paper-icon-button {
	     color: var(--app-primary-color);
	     height: 3em;
	     width: 3em;
	 }
        </style>

        <app-route route="{{route}}" pattern="/:post" data="{{routeData}}" active="{{routeActive}}"></app-route>
        <iron-ajax auto url="/blog/index.json" handle-as="json" last-response="{{blogPosts}}"></iron-ajax>

        <iron-pages
            selected="[[_calculatePage(routeData.post)]]"
            attr-for-selected="name">
	    <div name="item">
		<template is="dom-if" if="[[currentPost.image]]">
		    <img src="[[currentPost.image]]" sizing="cover"></img>
		</template>
		<div class="banner">
		    <paper-icon-button icon="my:arrow-back" on-click="_handleBlogBack"></paper-icon-button>
		    <div class="title">
			<h1>[[currentPost.title]]</h1>
			<h2>[[currentPost.date]] - [[currentPost.author]]</h2>
		    </div>
		</div>
		<markdown-it id="markdown"
                             src="[[_calculatePostURL(routeData.post)]]"></markdown-it>
	    </div>
            <div name="list">
                <h1>Blog</h1>
                <template is="dom-repeat" items="[[_filterPosts(blogPosts)]]" as="post">
                    <div class="post">
                        <a href="/blog/[[post.name]]"><h1>[[post.value.title]]</h1></a>
			<h2>[[post.value.date]] - [[post.value.author]]</h2>
                        <markdown-it content="[[post.value.description]]"></markdown-it>
                    </div>
                </template>
            </div>
        </iron-pages>
    </template>

    <script>
     class MyViewBlog extends Polymer.Element {
         static get is() { return 'my-view-blog'; }

         static get properties() {
             return {
		 currentPost: {
		     type: Object,
		     computed: '_calculatePost(routeData.post, blogPosts)'
		 },
		 blogPosts: Object
             }
         }

         connectedCallback() {
             super.connectedCallback()
             this.$.markdown.addEventListener('post-not-found', this._postNotFound.bind(this));
         }

         disconnectedCallback() {
             super.disconnectedCallback()
             this.$.markdown.removeEventListener('post-not-found', this._postNotFound)
         }

         _postNotFound(event) {
             this.set('route.path', '');
         }

         _calculatePage(post) {
             return (post === "" || post === undefined) ? 'list' : 'item';
         }

         _calculatePostURL(post) {
             if (post) {
                 return `/blog/${post}.md`;
             }
         }

	 _calculatePost(post, blogPosts) {
	     if (post === "" || post === undefined || blogPosts === undefined) return {}
	     return this.blogPosts[post];
	 }

	 _filterPosts(obj) {
            return Object.keys(obj).map(function(key) {
                return {
                    name: key,
                    value: obj[key]
                };
            });
         }

	 _handleBlogBack(event) {
	     this.set('routeData.post', "");
	 }
     }

     window.customElements.define(MyViewBlog.is, MyViewBlog);
    </script>
</dom-module>
