<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="shared-styles">
    <template>
        <style include="iron-flex iron-flex-alignment">
         p,
         h1, h2, h3, h4,
         blockquote,
         pre, code,
         table, thead, tbody, tr, th,
         ul, ol, li {
             margin: 0;
             padding: 0;

             word-break: break-word;
             word-wrap: break-word;

             text-rendering: optimizeLegibility;
             -webkit-font-smoothing: antialiased;
         }

         h1 {
             margin-top: 20px;
             margin-left: -2.5px;

             font-family: var(--app-heading-font);
             font-weight: 700;
             font-style: normal;
             font-size: calc(var(--app-font-size) * 2.1);

             line-height: 1.04;
             letter-spacing: -0.028em;

             color: var(--app-accent-color);
         }

         h2 {
             margin-top: 5px;
             margin-bottom: 22px;
             margin-left: -1.69px;

             font-family: var(--app-heading-font);
             font-weight: 300;
             font-style: normal;
             font-size: calc(var(--app-font-size) * 1.3);

             line-height: 1.22;
             letter-spacing: -0.022em;

             color: var(--app-primary-color);
         }

         h3 {
             margin-top: 56px;
             margin-left: -2px;

             font-family: var(--app-heading-font);
             font-weight: 700;
             font-style: normal;
             font-size: calc(var(--app-font-size) * 1.5);

             line-height: 1.15;
             letter-spacing: -0.02em;

             color: var(--app-text-color);
         }

         p {
             margin-top: 38px;

             font-family: var(--app-text-font);
             font-weight: 400;
             font-style: normal;
             font-size: calc(var(--app-font-size) * 1);

             line-height: 1.58;
             letter-spacing: -0.003em;

             color: var(--app-text-color);
         }

         blockquote > p {
             margin-top: 29px;
             margin-left: -15px;
             padding-left: 15px;
             padding-bottom: 2px;

             font-weight: 400;
             font-style: italic;
             font-size: calc(var(--app-font-size) * 1);
             font-family: var(--app-heading-font);

             line-height: 1.58;
             letter-spacing: -0.003em;

             border-left: 3px solid var(--app-accent-color);
             color: var(--app-primary-color);
         }

         table {
             max-width: 100%;
             margin: 10px auto;

             font-family: var(--app-heading-font);
             font-size: calc(var(--app-font-size) * 0.8);

             line-height: 1.55;

             table-layout: fixed;
             border-collapse: collapse;
             border-spacing: 0;
         }

         table tbody, table thead {
             width: 100%;
         }

         table th{
             padding: 8px 10px;
             min-width: 80px;

             background: var(--app-soft-background-color);
             border-bottom: 1px solid var(--app-primary-color);

             min-width: 80px;
         }

         table td{
             padding: 10px 8px 0px 8px;
             color: var(--app-text-color);
         }

         pre {
             margin-top: 29px;
             padding: 10px;

             background: var(--app-soft-background-color);
         }

         math-tex {
             color: var(--app-text-color);
         }

         ul, ol {
             margin-top: 29px;
             counter-reset: post;

             padding: 0;

             list-style: none;
             list-style-image: none;
         }

         ol li:before {
             padding-right: 12px;
             counter-increment: post;
             content: counter(post) ".";
         }

         ul li:before {
             padding-right: 12px;
             content: "•";
         }

         li {
             font-weight: 400;
             font-style: normal;
             font-size: calc(var(--app-font-size) * 0.9);
             font-family: var(--app-text-font);

             line-height: 1.58;

             color: var(--app-text-color);
         }

         img {
             display: block;

             max-width: 100%;
             margin: 0 auto;
         }

	 p > code {
	     padding: 3px 1px;
	     border-radius: 2px;
	     background-color: var(--app-soft-background-color);
	     font-size: calc(var(--app-font-size) * 0.8);
	 }
        </style>
    </template>
</dom-module>
